\BLOCK{ include "_preamble.tex.j2" }
\begin{document}

\begin{center}
\textbf{\large ΠΙΣΤΟΠΟΙΗΤΙΚΟ ΤΗΡΗΣΗΣ ΑΠΑΙΤΗΣΕΩΝ ΤΟΥ ΚΑΝΟΝΙΣΜΟΥ ΓΙΑ ΕΡΓΑΣΙΕΣ, ΥΛΙΚΑ ΚΑΙ\\
ΑΔΕΙΟΔΟΤΗΜΕΝΟ ΤΕΧΝΙΚΟ ΠΡΟΣΩΠΙΚΟ}
\end{center}

\begin{enumerate}
\item Πελάτης: \VAR{customer.name|tex}
\item Διεύθυνση: \VAR{project.installation_address|tex}
\item Αριθ. Πελάτη/Αρ. Αίτησης \VAR{project.application_no|tex}
\item ΗΚΑΣΠ \VAR{project.hkasp|tex}
\end{enumerate}

Οι κάτωθι υπογεγραμμένος, ο \VAR{business.supervisor_name|tex} ως αδειοδοτημένος εγκαταστάτης
και ως Επιβλέπων της ανωτέρω Εσωτερικής Εγκατάστασης Φυσικού Αερίου πιστοποιώ τα ακόλουθα:

Οι εργασίες εκτελέστηκαν σύμφωνα με τον παρόντα Κανονισμό και όπως αρμόζει από τις τέχνες
και τις επιστήμες.

Όλα τα υλικά, συσκευές και εναλλάκτες που εγκαταστάθηκαν ή ενσωματώθηκαν (προϋπήρχαν π.χ.
για λέβητες) στην εγκατάσταση αερίου του παραπάνω Πελάτη ελεγχθήκαν ως προς την καταλληλότητα
και είναι σύμφωνα με τον παρόντα κανονισμό και την Μελέτη.

H εγκατάσταση σωληνώσεων και συσκευών αερίου πραγματοποιήθηκε από τον:

\VAR{business.installer_name|tex} αδειούχο εγκαταστάτη καύσης με αρ. μητρώου \VAR{business.installer_registry_no|tex}\\
Διεύθυνση: \VAR{business.business_address|tex}

\textit{(όνομα, ιδιότητα, αρ. άδειας, πλήρης διεύθυνση)}

Εξειδικευμένο προσωπικό (συγκολλητές)

\noindent\rule{10cm}{0.4pt}

\textit{(όνομα, ιδιότητα, αρ. άδειας, πλήρης διεύθυνση)}

Οι συσκευές αερίου θα τεθούν σε λειτουργία από αρμόδιο κατά νόμο πρόσωπο και θα προσκομιστεί,
με ευθύνη του επιβλέποντα, το φύλλο ελέγχου για τους λέβητες και λοιπές συσκευές αερίου,
σύμφωνα με την ισχύουσα νομοθεσία.

\vspace{2cm}
\noindent Ο επιβλέπων και αδειοδοτημένος εγκαταστάτης

\vspace{1.5cm}
\noindent (Υπογραφή, σφραγίδα)

\end{document}
