\BLOCK{ include "_preamble.tex.j2" }
\begin{document}

\begin{center}
\textbf{\large ΠΡΟΓΡΑΜΜΑ ΛΕΙΤΟΥΡΓΙΑΣ ΚΑΙ ΣΥΝΤΗΡΗΣΗΣ\\ΕΓΚΑΤΑΣΤΑΣΗΣ ΑΕΡΙΟΥ}
\end{center}

Το πρόγραμμα λειτουργίας και συντήρησης συντάχθηκε σύμφωνα με το κεφάλαιο 12 του Τεχνικού
Κανονισμού για τις Εσωτερικές Εγκαταστάσεις Αερίου με πίεση λειτουργίας έως και 500 mbar,
Υπουργική Απόφαση Δ3/Α/οικ 6598, Φ.Ε.Κ. 976, Τεύχος Β / 28-03-12 και σύμφωνα με τα εγχειρίδια
λειτουργίας των συσκευών/υλικών των προμηθευτών από τον \VAR{business.supervisor_name|tex}
ορισθέντα ως Επιβλέποντα της Εγκατάστασης για την εγκατάσταση με τα παρακάτω στοιχεία:

\begin{tabular}{ll}
Κωδικός πελάτη/Αριθμός αίτησης: & \VAR{template.application_no|tex} \\
ΗΚΑΣΠ: & \VAR{template.hkasp|tex} \\
Όνομα Πελάτη: & \VAR{customer.name|tex} \\
Διεύθυνση: & \VAR{template.installation_address|tex} \\
\end{tabular}

\section*{Γενικά}

Η ασφάλεια των εγκαταστάσεων αερίου εξαρτάται από τη σωστή λειτουργία, την καλή διαχείριση,
την τακτική επιθεώρηση και την προγραμματισμένη (προληπτική) συντήρηση που πραγματοποιείται
σύμφωνα με το Πρόγραμμα λειτουργίας και συντήρησης και το ενημερωμένο αρχείο της εγκατάστασης
αερίου.

Τα αποτελέσματα των επιθεωρήσεων και οι λεπτομέρειες των επισκευών πρέπει να καταχωρούνται,
να είναι διαθέσιμα επί τόπου και να εκτελούνται μόνο από Προσωπικό με αντίστοιχη επαγγελματική
άδεια. Μετά από κάθε συντήρηση, επισκευή ή ρύθμιση, ο αδειοδοτημένος τεχνικός εγκαταστάτης
υποχρεούται να συμπληρώνει με επιμέλεια, ακρίβεια και πληρότητα και να υπογράφει είτε το
Φύλλο συντήρησης και ρύθμισης, είτε το προβλεπόμενο πιστοποιητικό επανελέγχου αναφορικά με
το δίκτυο των εσωτερικών σωληνώσεων.

Η συντήρηση -- ρύθμιση της εγκατάστασης του συστήματος καυστήρα -- λέβητα -- καπνοδόχου,
ανεξαρτήτως ισχύος και χρησιμοποιούμενου καυσίμου, γίνεται από τους έχοντες την προς τούτο
κατάλληλη άδεια σύμφωνα με την ισχύουσα νομοθεσία. Για τις εγκαταστάσεις του άρθρου 1
παράγραφος (α), η συντήρηση -- ρύθμιση γίνεται τουλάχιστον μια φορά το χρόνο. Για τις
εγκαταστάσεις του άρθρου 1 παράγραφος (β), η συντήρηση -- ρύθμιση γίνεται τουλάχιστον μια
φορά ανά εξάμηνο.

O καταναλωτής τηρεί αρχείο της εγκατάστασης αερίου, στο οποίο περιλαμβάνεται η Τεχνική
Έκθεση και σχέδια, και ενημερώνεται με όλες τις μεταγενέστερες μεταβολές και τα πιστοποιητικά
ελέγχου και συντήρησης του δικτύου και των συσκευών. Το αρχείο πρέπει να είναι διαθέσιμο
στην Εταιρία Αερίου.

Ο καταναλωτής επιτρέπεται να διενεργεί μόνον ``επιθεώρηση της εγκατάστασης'' και φροντίζει
για την τακτική συντήρηση των συσκευών καθώς και των σωληνώσεων.

Κάθε μεταβολή σε υφιστάμενες εγκαταστάσεις πρέπει να εξασφαλίζει ότι πληρούνται οι απαιτήσεις
του Κανονισμού. Κατά την αλλαγή χρήσης χώρων πρέπει να ελεγχθούν οι ενδεχόμενες επιπτώσεις
επί της εγκατάστασης από άτομο με προσόντα Επιβλέποντος.

H διενέργεια της επιθεώρησης της εγκατάστασης καθώς και η εφαρμογή των μέτρων συντήρησης
καθιστούν δυνατή την έγκαιρη αναγνώριση μεταβολών που μπορούν να επηρεάσουν την ασφάλεια
της εγκατάστασης, ενεργή συνεισφορά στην προστασία περιβάλλοντος, και μείωση του κόστους
λειτουργίας των συσκευών αερίου λόγω χαμηλής συχνότητας επισκευών και ορθολογικής λειτουργίας.

Οι Εταιρίες Αερίου έχουν το δικαίωμα ελέγχου της τήρησης των απαιτήσεων συντήρησης των
εσωτερικών εγκαταστάσεων Φυσικού Αερίου. O καταναλωτής είναι υποχρεωμένος να διευκολύνει
την Εταιρία Αερίου να διενεργήσει αυτόν τον έλεγχο.

\section*{Αγωγοί Αερίου -- Αποφρακτικές Διατάξεις}

O καταναλωτής δεν επιτρέπεται να επιφέρει ή να επιτρέψει επεμβάσεις επί των σωληνώσεων.
Δεν επιτρέπεται π.χ. η ανέγερση κτιρίων επάνω από τις σωληνώσεις εκτός κτιρίου εντός εδάφους,
η αποθήκευση υλικών επάνω από τη διαδρομή του αγωγού, η φύτευση δένδρων και θάμνων από επάνω.

Οι αγωγοί πρέπει να προστατεύονται έναντι μηχανικών καταπονήσεων, ζημιών και διάβρωσης.
Πρέπει να διατηρείται μονίμως άψογη και σταθερή η στήριξη των σωλήνων. Θα πρέπει να είναι
γνωστή η διαδρομή καλυμμένων αγωγών με αποτύπωση σε κατάλληλα σχέδια.

Οι εύκαμπτοι αγωγοί σύνδεσης συσκευών πρέπει να χρησιμοποιούνται χωρίς τάσεις, δίπλωση και
στρέψη και δεν επιτρέπεται να έρχονται σε επαφή με τα θερμά καυσαέρια. Οι αποφρακτικές
διατάξεις πρέπει να είναι ικανές για λειτουργία και με συνεχή δυνατότητα χρήσης.

Πρέπει να ελέγχονται προσεκτικά οι προαναφερόμενες απαιτήσεις με οπτικό έλεγχο, δίνοντας
προσοχή για τυχόν οσμή αερίου, και να γίνεται έλεγχος της στεγανότητας κάθε 4 έτη από
αδειοδοτημένο εγκαταστάτη, με έκδοση αντίστοιχου πιστοποιητικού επανελέγχου.

\section*{Συσκευές Αερίου}

Οι συσκευές αερίου πρέπει να προστατεύονται έναντι μηχανικών ζημιών και ρύπανσης. H τροφοδοσία
αέρα και η απαγωγή καυσαερίων πρέπει να εξασφαλίζονται συνεχώς, μέσω τακτικής επιθεώρησης
και προγραμματισμένης (προληπτικής) συντήρησης από αδειοδοτημένο συντηρητή.

Πέρα από αυτά, ο καταναλωτής πρέπει να προσέχει για ενδείξεις μη άρτιας λειτουργίας, όπως:
ίχνη αιθάλης ή ρύπων· μεταβολές της εικόνας της φλόγας· μηχανικές και θερμικές ζημιές·
ελλιπή ασφάλεια στερέωσης· ελλείπουσες ή ελαττωματικές διατάξεις χειρισμού· ασυνήθιστους
θορύβους ή οσμή κατά τη λειτουργία· και οσμή αερίου.

Ο καταναλωτής πρέπει να φροντίζει ώστε τα ανοίγματα προσαγωγής αέρα (άμεσα προς το ύπαιθρο,
μέσω αεραγωγού, ή σε επενδύσεις τύπου ερμαρίου) να διατηρούνται διαρκώς ανοιχτά και
λειτουργικά, να μην φράσσονται, και να μην επηρεάζονται από συρμάτινα δίκτυα, ρυπάνσεις
ή διατάξεις αερισμού με ανεμιστήρες. Τέτοιες διαπιστώσεις πρέπει να οδηγήσουν σε άμεση
επισκευή.

\section*{Απαγωγή Καυσαερίων}

O καταναλωτής θα πρέπει να δίνει προσοχή σε: ενδεχόμενη εκροή καυσαερίων (ασυνήθιστη οσμή,
ρύπανση, υγρασία)· φωλιές πουλιών ή ζημιές στην κεφαλή της καπνοδόχου· μηχανικές φθορές και
διάβρωση στους αγωγούς αέρα/απαγωγής. Οι αγωγοί πρέπει να εκβάλλουν στο ύπαιθρο χωρίς να
περιτειχίζονται (π.χ. θερμοκήπια, γκαράζ, κλεισμένα μπαλκόνια).

Το σύστημα απαγωγής καυσαερίων πρέπει να επιθεωρείται οπτικά τουλάχιστον ετησίως. Ο καθαρισμός
του συστήματος καυσαερίων γίνεται κάθε τρία χρόνια για συνήθη λεβητοστάσια, με έλεγχο
στεγανότητας μέσω μέτρησης CO2 στην έξοδο του λέβητα, στη βάση και στην έξοδο της καπνοδόχου.

\section*{Ενέργειες σε Περιπτώσεις Βλαβών και Οσμής Αερίου}

Οσμή αερίου πρέπει να αναγγέλλεται αμέσως στην Εταιρία Αερίου: Αττική 11322 -- Θεσσαλονίκη
10302 -- Θεσσαλία 10302 -- λοιπή Ελλάδα 11711. Σε περιπτώσεις άλλων ελλείψεων ή βλαβών πρέπει
να ειδοποιηθεί ο συντηρητής και κατά τις περιστάσεις η Εταιρία Αερίου. Μια αναγγελία βλάβης
θα πρέπει να περιέχει τον ακριβή τόπο, το είδος και την έκταση της βλάβης, την πιθανή αιτία,
το όνομα, τη διεύθυνση και τον αριθμό τηλεφώνου του αναγγέλλοντος.

\textbf{Μέσα σε κτίρια:} Ανοίξτε διάπλατα θύρες και παράθυρα, αποφύγετε γυμνή φωτιά και το
κάπνισμα, μην χρησιμοποιείτε ηλεκτρικούς διακόπτες/πρίζες/τηλέφωνα, κλείστε την κύρια
αποφρακτική διάταξη (KAΔ), και ειδοποιήστε την υπηρεσία άμεσης επέμβασης μέσω τηλεφώνου
εκτός της οικίας.

\textbf{Στο ύπαιθρο:} Αν η οσμή αποδίδεται σε σημείο διαρροής υπόγειου αγωγού, αυτός πρέπει
να φραγεί με την προβλεπόμενη αποφρακτική διάταξη. Κλείστε θύρες/παράθυρα γύρω κτιρίων,
αποφύγετε γυμνή φωτιά και ηλεκτρικούς διακόπτες, και ειδοποιήστε την υπηρεσία άμεσης
επέμβασης και τους ενοίκους (χωρίς να χρησιμοποιήσετε ηλεκτρικά κουδούνια).

\textbf{Διαρροή από συσκευή:} Σε περίπτωση συνεχούς διαρροής, η συσκευή πρέπει να τεθεί
εκτός λειτουργίας κλείνοντας τη βάνα της, και να ειδοποιηθεί ο συντηρητής και εν ανάγκη η
Εταιρία Αερίου.

\vspace{1cm}
\begin{tabular}{p{8cm}p{8cm}}
Ο Καταναλωτής/Υπεύθυνος της εγκατάστασης & Ο Επιβλέπων \\[1.5cm]
(Υπογραφή) & (Σφραγίδα-Υπογραφή) \\
\end{tabular}

\clearpage
\begin{center}
\textbf{\large Φύλλο Προγραμματισμένης (Προληπτικής) Συντήρησης Συσκευών Αερίου}
\end{center}

\begin{enumerate}
\item Καταναλωτής: \VAR{customer.name|tex}
\item Διεύθυνση: \VAR{template.installation_address|tex}
\item Συντηρητής / Επιβλέπων: \VAR{business.supervisor_name|tex}
\item Περιγραφή εγκατάστασης: λέβητας: \VAR{template.power_kw|tex} kW, \VAR{template.flow_m3h|tex} m\textsuperscript{3}/h\\
Σύνολο: \VAR{template.power_kw|tex} kW, \VAR{template.flow_m3h|tex} m\textsuperscript{3}/h
\end{enumerate}

H επιτήρηση και προγραμματισμένη (προληπτική) συντήρηση των συσκευών αερίου έγινε σύμφωνα
με το πρόγραμμα λειτουργίας και συντήρησης, τις οδηγίες του κατασκευαστή και τα αντίστοιχα
πρότυπα. Επισυνάπτονται φύλλα μετρήσεων. Βεβαιώνεται η δυνατότητα ασφαλούς λειτουργίας της
εγκατάστασης.

\vspace{0.4cm}
\begin{tabular}{|p{3cm}|p{4cm}|p{9cm}|}
\hline
\textbf{ημερομηνία} & \textbf{(υπογραφή)} & \textbf{παρατηρήσεις} \\
\hline
\VAR{template.visit_date|tex} & Επιβλέπων/Συντηρητής & Ημερομηνία Συντήρησης της συσκευής \\
\hline
\VAR{template.next_maintenance_date|tex} & Επιβλέπων/Συντηρητής & Ημερομηνία επόμενης προγραμματισμένης (συνήθως ετήσιας) συντήρησης συσκευής \\
\hline
\VAR{template.next_tightness_recheck_date|tex} & Επιβλέπων/Συντηρητής & Ημερομηνία επόμενου προγραμματισμένου επανελέγχου στεγανότητας σωληνώσεων (4ετία για πίεση λειτουργίας έως και 1 bar, ετήσια άνω του 1 bar) \\
\hline
\end{tabular}

\end{document}
