\BLOCK{ include "_preamble.tex.j2" }
\begin{document}

\begin{center}
\textbf{\large Τεχνική Έκθεση Αερίου}
\end{center}

\section*{Στοιχεία Καταναλωτή}
\begin{tabular}{ll}
Διεύθυνση: & \VAR{project.installation_address|tex} \\
Ιδιοκτήτης ακινήτου: & \VAR{customer.name|tex} \\
Χρήστης ακινήτου: & \VAR{customer.name|tex} \quad τηλ. \VAR{customer.phone|tex} \\
Χρήση ακινήτου: & \VAR{project.property_use|tex} \\
Χρήση αερίου: & \VAR{project.gas_use|tex} \\
Οδός προσπέλασης: & \VAR{project.access_street|tex} \\
ΗΚΑΣΠ: & \VAR{project.hkasp|tex} \\
Κωδικός πελάτη/Αριθμός αίτησης: & \VAR{project.application_no|tex} \\
\end{tabular}

\section*{Στοιχεία Επιβλέποντα}
\begin{tabular}{ll}
Όνομα: & \VAR{business.supervisor_name|tex} \\
Ιδιότητα: & \VAR{business.profession|tex}, Αρ. Μητρώου ΤΕΕ \VAR{business.tee_registry_no|tex} \\
Διεύθυνση: & \VAR{business.business_address|tex} \quad τηλ. \VAR{business.business_phone|tex} \\
\end{tabular}

Η Τεχνική Έκθεση Αερίου συντάχθηκε σύμφωνα με τον Τεχνικό Κανονισμό για τις Εσωτερικές
Εγκαταστάσεις Αερίου με πίεση λειτουργίας έως και 500mbar (ΦΕΚ 976, Τεύχος 2ο 28/03/2012)
από τον \VAR{business.supervisor_name|tex} ορισθέντα ως Επιβλέποντα αερίου.

Συνημμένα: Πιστοποιητικά τήρησης απαιτήσεων κανονισμού, δοκιμών, πρόγραμμα λειτουργίας και
συντήρησης.

\section*{Σύνδεση με Δίκτυο -- Ρύθμιση Πίεσης -- Μετρητής}

Ο μετρητής τύπου \VAR{project.meter_type|tex} είναι εγκαταστημένος \VAR{project.meter_position|tex}.
Η πίεση εξόδου του ρυθμιστή είναι \VAR{project.regulator_pressure_mbar|tex} mbar.

\section*{Συσκευές Αερίου}

\begin{tabular}{|l|l|l|l|l|l|}
\hline
\textbf{Συσκευή} & \textbf{Μοντέλο} & \textbf{Τύπος} & \textbf{Ον. Ισχύς} & \textbf{Τεχνολογία} & \textbf{Τιμή σύνδεσης} \\
\hline
1. Λέβητας & \VAR{project.boiler_brand_model|tex} & \VAR{project.boiler_type|tex} & \VAR{project.power_kw|tex} kW & \VAR{project.technology|tex} & \VAR{project.flow_m3h|tex} m\textsuperscript{3}/h \\
\hline
\textbf{Σύνολο} & & & \textbf{\VAR{project.power_kw|tex} kW} & & \textbf{\VAR{project.flow_m3h|tex} m\textsuperscript{3}/h} \\
\hline
\end{tabular}

\section*{Περιγραφή Εγκατάστασης Σωληνώσεων}

\textbf{Υλικά:} H εγκατάσταση σωληνώσεων κατασκευάσθηκε, όσον αφορά το τμήμα εκτός κτιρίου
εκτός εδάφους, από χαλυβδοσωλήνες κατά ΕΝ10255. Τα εξαρτήματα που χρησιμοποιήθηκαν είναι
κατά ΕΝ 10242. Οι αποφρακτικές διατάξεις που χρησιμοποιήθηκαν είναι κατά ΕΝ331 ΗΤΒ (εντός
κτιρίου).

\textbf{Συνδέσεις σωλήνων και εξαρτημάτων:} Έγιναν με κοχλιωτά εξαρτήματα με σπειρώματα
κατά ΕΝ10226-1 με στεγανοποιητικά κατά ΕΝ 751-2 (πάστα -- κανάβι).

\textbf{Όδευση:} Οι σωληνώσεις αερίου τοποθετήθηκαν εκτός κτιρίου εκτός εδάφους.

\textbf{Αντιδιαβρωτική προστασία:} Οι σωλήνες προστατεύονται έναντι διάβρωσης με
επιψευδαργύρωση κατά ΕΝ 10240 και τα εξαρτήματα κατά ΕΝ 10242.

\textbf{Σύνδεση των συσκευών:} Οι συσκευές αερίου συνδέθηκαν με τις σωληνώσεις αερίου με
εύκαμπτο αγωγό κατά UNI 11353.

\textbf{Αδειοδοτημένοι Εγκαταστάτες:}\\
Όνομα: \VAR{business.installer_name|tex} \quad Ιδιότητα: \VAR{business.installer_specialty|tex} \quad
Αρ. μητρώου: \VAR{business.installer_registry_no|tex}\\
Διεύθυνση: \VAR{business.business_address|tex}

\section*{Προσαγωγή Αέρα και Απαγωγή Καυσαερίων}

H τροφοδοσία για τον θερμαντήρα νερού συνδυασμένης λειτουργίας με αέρα καύσης γίνεται με
συστατικό στοιχείο της συσκευής (αλουμινίου 1 μέτρου Φ60/100) από το ύπαιθρο.

H απαγωγή των καυσαερίων για τον θερμαντήρα νερού συνδυασμένης λειτουργίας γίνεται με
συστατικό στοιχείο της συσκευής (αλουμινίου 1 μέτρου Φ60/100) προς το ύπαιθρο.

\section*{Δοκιμή Εγκατάστασης Σωληνώσεων}

H εγκατάσταση σωληνώσεων υπέστη επιτυχή δοκιμή φόρτισης με αέρα υπό πίεση
\VAR{project.strength_test_design_pressure_mbar|tex} mbar.

H εγκατάσταση σωληνώσεων υπέστη επιτυχή δοκιμή στεγανότητας με αέρα υπό πίεση
\VAR{project.tightness_test_design_pressure_mbar|tex} mbar.

Εκδόθηκε πιστοποιητικό για την δοκιμή αντοχής και στεγανότητας.

\section*{Ρυθμίσεις και Μετρήσεις Συσκευών Αερίου}

Έγιναν μετρήσεις στη συσκευή οι οποίες απέδωσαν τις τιμές του συνημμένου φύλλου.

\section*{Τεχνικά Έγγραφα -- Λοιπές Διατάξεις}

Όλα τα υλικά της εγκατάστασης σωληνώσεων μπορεί να φέρουν σήμανση CE, σύμφωνα με τις διατάξεις
της ισχύουσας νομοθεσίας, ενώ πρέπει να συνοδεύονται από τις απαιτούμενες οδηγίες εγκατάστασης
\& χρήσης.

Οι ηλεκτρολογικές συνδέσεις είναι σύμφωνες με τον ηλεκτρολογικό κανονισμό ΕΛΟΤ HD 384 και
η εγκατάσταση γειώθηκε. Έχουν ληφθεί όλα τα μέτρα πυροπροστασίας που προβλέπονται από την
ισχύουσα νομοθεσία.

Όπου η εγκατάσταση αερίου συνυπάρχει με άλλες εγκαταστάσεις λαμβάνονται υπόψη οι αυστηρότερες
των κανονισμών που διέπουν τις εν λόγω εγκαταστάσεις. Κατά την κατασκευή της εγκατάστασης
έχουν ληφθεί υπόψη οι Νομοθετικές Διατάξεις του Υποχρεωτικού Παραρτήματος 3(1) του Κανονισμού
στις τελευταίες τους αναθεωρήσεις.

\vspace{1cm}
\begin{tabular}{|p{7.5cm}|p{7.5cm}|}
\hline
\textbf{ΘΕΩΡΗΘΗΚΕ} & \textbf{ΣΥΝΤΑΧΘΗΚΕ} \\
\hline
 & \VAR{template.visit_date|tex} \\
\hline
για την Εταιρία Αερίου & ο Επιβλέπων \VAR{business.supervisor_name|tex} \\
\hline
\end{tabular}

\end{document}
